


/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
    gap: 1440px;

}
.nav-title{
    font-weight: 800px;
    height: 51px;
    color: rgba(78, 71, 255, 1);
    font-size: 50px;
}
nav li{
    list-style: none;
}

/* Header */
.header{
    background-image: url('../Assets/Hero-bg.png'), url('../Assets/Hero-bg.png');

}

/* Button Styles */
.btn-primary{
    background-color: #4E47FF;
    font-weight: 600px;
    color: white;
    border-radius: 6px;
    padding: 12px 36px;
    font-size: 16px;
    border: none;
    width: 132px;
}
.banner{
    margin: auto;
    text-align: center;
    padding: 37px;
    font-weight: bold;
    font-size: 65px;
}
.snd-btn{
    background-color: #4E47FF;
    font-weight: 700;
    color: white;
    border-radius: 6px;
    padding: 12px 36px;
    font-size: 16px;
    border: none;
    list-style: none;
}
.section-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.section-description{
    font-size: 18px;
    color: #252432;
}
.snd-bg{
   background-color:rgba(78, 71, 255, 0.1);
}
.sheikh{
    border-radius: 10px;
    text-align: center;
    margin: 116px 159px 0 141px;
    padding: 50px 50px;
}
/* main style */
main{
    max-width: 1140px 360px;
    margin: 0 auto;
    padding: 80px 50px;
}
.sheikhs{
    display: flex;
    justify-content: space-around;
}
.item-title{
    color: rgba(78, 71, 255, 1);
    font-weight: bold;
    font-size: 80px;
}
.item-description{
    font-weight: 500px;
    font-size: 20px;
}
.sheikh{
    padding: 50px 140px;
}
main div{
  padding: 0px;
}
.focus{
    justify-content: center;
    background-color: #ebe8e8;
    width: 1140px 696px;
    margin: 100px 150px;
    padding: 71px auto;
    text-align: center;
}
.focus-title{
        text-align: center;
        padding: 20px;
        font-weight: bold;
        font-size: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.focus-description{
        text-align: center;
        padding: 20px;
        font-weight: 487px;
        height: 22px;
        color: rgba(0, 0, 0, 0.5);
}
.btn-tnd{
    background-color: #4E47FF;
    font-weight: 700;
    color: white;
    border-radius: 6px;
    padding: 12px 36px;
    font-size: 16px;
    border: none;
    align-items: center;
}
.pic{
    padding: 20px 0 71px;
    width: 840px 364px;
    display: flex;
    justify-content: center;
    margin: auto;
}
/* Footer style */
.footer-column{
    display: flex;
    text-align: center;
}
.footer-columns{
    padding-right: 0;
    padding-bottom: 71px;
    padding-top: 160px;
    box-sizing: border-box;
}
.fotter{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
    width: auto;
    height: 632px;
    margin: 50px 150px 150px;
}
.fbtn{
    background-color: #4E47FF;
    width: 497px;
    height: 62px;
    color: white;
    border-radius: 6px;
    padding:20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    align-items: center;
}
.foter-title{
    padding: 140px 612px 200px 0px;
    font-weight: bold;
    font-size: 97px;
    color: rgba(0, 0, 0, 1);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* Final Part Styles */
.final-title{
    color: rgba(78, 71, 255, 1);
    font-size: 100px;
    width: 291px;
    height: 121px;
}
.final-description{
    color: #8987A1;
}
.final{
    justify-content: space-around;
    text-align: center;
    padding: 0px 800px;
}
.finis{
    margin: 0 auto;
    justify-content: space-around;
   display: flex;
}